In [8]:
import pandas as pd
from math import sqrt
from datetime import datetime

In [9]:
file = "observations_filterd_neigbours.csv"
df = pd.read_csv(file, delimiter=";")

In [10]:
groups = df.groupby('timestamp')

In [11]:
def findNextNeighbours(obs, station, number=3):
    obs = obs[obs.name != station[0]]
    result = []
    east = station[1]
    north = station[2]
    up = station[3]
    for row in obs.iterrows():
        cr = row[1]
        dist = sqrt((east-cr['east'])*(east-cr['east'])+(north-cr['north'])*(north-cr['north'])+(up-cr['up'])*(up-cr['up']))
        r = [dist, cr['value']]
        result.append(r)
    result.sort(key=lambda x: x[0])
    return result[0:number]

In [12]:
def prepareList(result):
    newList = []
    for k in range(len(result)):
        n = [j for i in result[k] for j in i]
        newList.append(n)
    return newList

In [13]:
def createFinalDataframe(result):
    cols = []
    l = len(result[0])
    l = l/2
    for i in range(int(l)):
        cols.append('dist_{}'.format(i+1))
        cols.append('value_{}'.format(i+1))
    
    cols_df = pd.DataFrame(columns=cols, data=result)
    return cols_df

In [14]:
result = []
l = len(groups)
cc = 1
pc = 1
for name, group in groups:
    perc = (cc/l)*100
    if perc > pc:
        print('{0}: {1:.1f}%'.format(datetime.now(), perc))
        pc+=1
    cc+=1
    for row in group.iterrows():
        cr = row[1]
        station = [cr['name'], cr['east'], cr['north'], cr['up']]
        result.append(findNextNeighbours(group, station, number=10))

2019-01-04 01:28:49.299534: 1.0%
2019-01-04 01:29:52.520620: 2.0%
2019-01-04 01:30:55.345950: 3.0%
2019-01-04 01:31:58.188271: 4.0%
2019-01-04 01:33:00.677808: 5.0%
2019-01-04 01:34:03.467160: 6.0%
2019-01-04 01:35:05.693860: 7.0%
2019-01-04 01:36:10.086224: 8.0%
2019-01-04 01:37:11.875194: 9.0%
2019-01-04 01:38:13.812069: 10.0%
2019-01-04 01:39:15.533079: 11.0%
2019-01-04 01:40:17.421986: 12.0%
2019-01-04 01:41:19.064044: 13.0%
2019-01-04 01:42:20.786056: 14.0%
2019-01-04 01:43:22.507064: 15.0%
2019-01-04 01:44:27.015360: 16.0%
2019-01-04 01:45:29.020193: 17.0%
2019-01-04 01:46:31.504733: 18.0%
2019-01-04 01:47:34.279095: 19.0%
2019-01-04 01:48:36.019095: 20.0%
2019-01-04 01:49:37.777082: 21.0%
2019-01-04 01:50:39.589035: 22.0%
2019-01-04 01:51:41.380001: 23.0%
2019-01-04 01:52:45.769371: 24.0%
2019-01-04 01:53:47.701249: 25.0%
2019-01-04 01:54:49.687096: 26.0%
2019-01-04 01:55:51.708922: 27.0%
2019-01-04 01:56:53.827686: 28.0%
2019-01-04 01:57:55.838518: 29.0%
2019-01-04 01:58:57.856345: 30.0%
2019-01-04 02:00:02.516545: 31.0%
2019-01-04 02:01:04.562356: 32.0%
2019-01-04 02:02:06.486241: 33.0%
2019-01-04 02:03:08.416122: 34.0%
2019-01-04 02:04:10.301034: 35.0%
2019-01-04 02:05:12.152966: 36.0%
2019-01-04 02:06:14.006889: 37.0%
2019-01-04 02:07:15.796856: 38.0%
2019-01-04 02:08:20.267174: 39.0%
2019-01-04 02:09:22.107111: 40.0%
2019-01-04 02:10:23.944050: 41.0%
2019-01-04 02:11:25.744011: 42.0%
2019-01-04 02:12:27.576954: 43.0%
2019-01-04 02:13:29.281972: 44.0%
2019-01-04 02:14:31.102921: 45.0%
2019-01-04 02:15:32.956849: 46.0%
2019-01-04 02:16:37.366204: 47.0%
2019-01-04 02:17:39.328068: 48.0%
2019-01-04 02:18:41.373876: 49.0%
2019-01-04 02:19:43.147855: 50.0%
2019-01-04 02:20:45.182672: 51.0%
2019-01-04 02:21:46.799744: 52.0%
2019-01-04 02:22:48.409822: 53.0%
2019-01-04 02:23:52.689260: 54.0%
2019-01-04 02:24:54.318325: 55.0%
2019-01-04 02:25:55.954386: 56.0%
2019-01-04 02:26:58.935621: 57.0%
2019-01-04 02:28:00.804539: 58.0%
2019-01-04 02:29:02.461589: 59.0%
2019-01-04 02:30:04.220575: 60.0%
2019-01-04 02:31:05.927594: 61.0%
2019-01-04 02:32:10.224019: 62.0%
2019-01-04 02:33:11.888063: 63.0%
2019-01-04 02:34:13.889903: 64.0%
2019-01-04 02:35:15.582928: 65.0%
2019-01-04 02:36:17.445851: 66.0%
2019-01-04 02:37:19.234819: 67.0%
2019-01-04 02:38:21.166699: 68.0%
2019-01-04 02:39:23.022627: 69.0%
2019-01-04 02:40:27.520927: 70.0%
2019-01-04 02:41:29.317891: 71.0%
2019-01-04 02:42:31.116852: 72.0%
2019-01-04 02:43:32.885832: 73.0%
2019-01-04 02:44:34.650816: 74.0%
2019-01-04 02:45:36.450777: 75.0%
2019-01-04 02:46:38.170787: 76.0%
2019-01-04 02:47:42.651099: 77.0%
2019-01-04 02:48:44.483041: 78.0%
2019-01-04 02:49:46.183063: 79.0%
2019-01-04 02:50:48.254858: 80.0%
2019-01-04 02:51:50.031835: 81.0%
2019-01-04 02:52:51.746848: 82.0%
2019-01-04 02:53:53.467857: 83.0%
2019-01-04 02:54:55.147894: 84.0%
2019-01-04 02:55:59.355371: 85.0%
2019-01-04 02:57:01.085376: 86.0%
2019-01-04 02:58:02.780402: 87.0%
2019-01-04 02:59:04.494418: 88.0%
2019-01-04 03:00:06.132478: 89.0%
2019-01-04 03:01:07.889467: 90.0%
2019-01-04 03:02:09.606479: 91.0%
2019-01-04 03:03:11.312496: 92.0%
2019-01-04 03:04:15.646900: 93.0%
2019-01-04 03:05:17.378900: 94.0%
2019-01-04 03:06:18.999973: 95.0%
2019-01-04 03:07:20.632037: 96.0%
2019-01-04 03:08:22.361042: 97.0%
2019-01-04 03:09:24.077056: 98.0%
2019-01-04 03:10:25.859027: 99.0%

In [15]:
result = prepareList(result)

In [16]:
split = createFinalDataframe(result)

In [17]:
split.head()

,dist_1,value_1,dist_2,value_2,dist_3,value_3,dist_4,value_4,dist_5,value_5,dist_6,value_6,dist_7,value_7,dist_8,value_8,dist_9,value_9,dist_10,value_10
0,19996.576063,0.0,23510.258261,0.0,27701.090697,0.0,31708.840528,0.2,37691.569977,0.0,43768.092833,0.0,46961.662985,0.0,49695.861955,0.0,50554.684767,0.1,51272.961756,0.0
1,7256.069036,1.2,14366.701734,1.4,14373.960991,0.8,16510.659061,0.2,22667.739306,0.5,23667.883347,0.2,27510.944004,1.5,31652.904790,0.8,33703.257931,1.8,35426.320622,0.2
2,12665.279515,0.0,14525.414532,0.0,17216.566940,0.0,23832.615223,0.0,24589.255308,0.0,25354.189054,0.2,27388.435977,0.1,31441.788738,0.2,37024.700318,0.4,37439.747049,0.0
3,6729.072804,0.3,13337.693536,0.6,14753.987344,0.8,17601.982694,0.4,21408.934216,2.4,23248.386418,0.8,23542.868024,1.2,24649.662263,1.8,25819.074824,0.4,26488.804661,0.5
4,6729.072804,1.4,6792.854542,0.6,14027.302728,0.4,16682.505751,0.8,20353.926280,1.8,21005.537727,0.8,24661.158063,0.5,24719.373116,2.4,26281.392478,0.4,29272.501132,1.2

In [18]:
res = pd.concat([df, split], axis=1, sort=True)

In [19]:
res.head()

,name,east,north,up,timestamp,value,dist_1,value_1,dist_2,value_2,...,dist_6,value_6,dist_7,value_7,dist_8,value_8,dist_9,value_9,dist_10,value_10
0,Ahaus,32358912.46,5772092.08,46,2010-01-01,0.0,19996.576063,0.0,23510.258261,0.0,...,43768.092833,0.0,46961.662985,0.0,49695.861955,0.0,50554.684767,0.1,51272.961756,0.0
1,Alfter-Volmershoven,32359773.83,5615207.65,160,2010-01-01,0.2,7256.069036,1.2,14366.701734,1.4,...,23667.883347,0.2,27510.944004,1.5,31652.904790,0.8,33703.257931,1.8,35426.320622,0.2
2,Altenberge,32396321.90,5767489.05,65,2010-01-01,0.0,12665.279515,0.0,14525.414532,0.0,...,25354.189054,0.2,27388.435977,0.1,31441.788738,0.2,37024.700318,0.4,37439.747049,0.0
3,Arnsberg-Holzen,32424387.54,5696959.64,265,2010-01-01,1.4,6729.072804,0.3,13337.693536,0.6,...,23248.386418,0.8,23542.868024,1.2,24649.662263,1.8,25819.074824,0.4,26488.804661,0.5
4,Arnsberg-Neheim,32429004.21,5701854.08,159,2010-01-01,0.3,6729.072804,1.4,6792.854542,0.6,...,21005.537727,0.8,24661.158063,0.5,24719.373116,2.4,26281.392478,0.4,29272.501132,1.2

In [20]:
columns = res.columns.tolist()
print(columns)

['name', 'east', 'north', 'up', 'timestamp', 'value', 'dist_1', 'value_1', 'dist_2', 'value_2', 'dist_3', 'value_3', 'dist_4', 'value_4', 'dist_5', 'value_5', 'dist_6', 'value_6', 'dist_7', 'value_7', 'dist_8', 'value_8', 'dist_9', 'value_9', 'dist_10', 'value_10']

In [21]:
file = "observations_filterd_wmn_neighbours.csv"
res.to_csv(file, sep=";", columns=columns, index=False)